parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Console\\Commands\\SyncMySqlToPostgres\:\:\$vistoriasColunasDescartar is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Console/Commands/SyncMySqlToPostgres.php

		-
			message: '#^Parameter \#1 \$ids of method App\\Services\\VistoriaService\:\:getTiposAbrigoSelecionados\(\) expects array\<mixed\>\|null, string\|null given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/VistoriaController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/View/Components/AppLayout.php
